@import url(reset.css);

.header {
	width: 100%;
  height: 40px;
  display: flex;
  color: #FFFFFF;
  background-color: #0000FF;
}

.columns {
	width: 80%;
	height: 100%;
	margin: auto;
}

.column1 {
	border: 3px solid #000;
	width: 500px;
	height: 100px;
	display: flex;	
}

.column2 {
	border: 3px solid #000;
	width: 500px;
	height: 100px;
	display: flex;
}

.image.one {
	background-position: center;
}

.image.two {
	background-position: center;
}

.image.three {
	background-position: center;
}

.image.four {
	background-position: center;
}

@media screen and (min-width: 375px) {
  .columns {
    display: flex;
  }
}

@media screen and (max-width: 720px) {
  .columns {
	flex-wrap: wrap;
	width: calc(100% / 3 - 13px);
  }
}